# Node.js и Angular
node_modules/
dist/
.temp/
*.log

# Angular CLI и кэш
.angular/
.vscode

# .NET файлы
bin/
obj/
*.dll
*.exe
*.pdb
*.mdb

# IDE/Editor файлы
.vscode/
.idea/
.vs/
*.code-workspace

package-lock.json
yarn.lock
