<div>
  <canvas #canvas width="500" height="500" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
  </canvas>

  <div>
    <button (click)="savePolygon()">Сохранить полигон</button>
    <button (click)="resetCanvas()">Сбросить</button>
    <button (click)="enablePointCheck()">Проверить точку</button>
  </div>

  <ul>
    @for (let vertex of vertices; track vertex.id) {
      <li>Vertex {{ vertex.id }}: ({{ vertex.x }}, {{ vertex.y }})</li>
    } @empty {
      <li>Нет вершин.</li>
    }
  </ul>
</div>
